<mat-card>
    <mat-card-title>右辺に答えが、「114514」になる数字を入力してい下さい</mat-card-title>
    <mat-card-content>
        <form>
            <div>
                <span class="formula">10</span>
                <span class="formula">+</span>
                <span class="formula">
                    <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                    >
                        <mat-label>Favorite food</mat-label>
                        <input
                            matInput
                            placeholder="Ex. Pizza"
                            value="Sushi"
                        >
                    </mat-form-field>
                </span>
                <span class="formula">=</span>
                <span class="formula">?</span>
            </div>
            <div class="submit-content">
                <button
                    class="submit"
                    mat-raised-button
                    color="primary"
                >
                    answer
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>